
 .layout{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

 }
 .card{
  display: inline-block;

 }
 .div-date-vote{
   display: flex;
   justify-content: space-between;
 }
 .span-vote{
   background: #fc3;
   padding:.2em .6em .3em;
   border-radius: .25em;
   font-weight:700;
   color: #ffffff;  
 }
 .span-vote i {
  position: relative;
  top: 5px;
 }
 .movie-img{
   margin-top: 5%;
 }
 p{
  color:#f44336;
 }